
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$headerFont: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
$bodyFont: minion-3, Georgia, serif;

$accent1: #FFA69E;
$accent2: #84DCC6;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}